{% extends "layout_page.html" %}
{% block contents %}
    <div class="content-section shadows">
        <form method="POST" action="">
            {{ form_blp.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="boder-bottom mb-4"><h3>Reset Password</h3></legend>
                <div class="form-group">
                    {{ form_blp.password.label(class="form-control-label") }}

                    {% if form_blp.password.errors %} 
                        {{ form_blp.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_blp.email.errors %}
                                <span>
                                    {{ error }}
                                </span> 
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form_blp.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_blp.confirm_password.label(class="form-control-label") }}

                    {% if form_blp.confirm_password.errors %} 
                        {{ form_blp.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_blp.email.errors %}
                                <span>
                                    {{ error }}
                                </span> 
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form_blp.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form_blp.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
{% endblock contents %}