{% extends "layout_page.html" %} 
{% block contents %} 
  <h1>Posts By : {{ user.username }} ( {{ posts.total }} )</h1>
  <b><hr></b>
    {% for p in posts.items %} 
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static',filename='profile_pic/'+ p.author.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="/account" data-toggle="tooltip" data-placement="bottom" title="Account Info">{{ p.author.username }}</a>
            <small class="text-muted"><b>Posted On : {{ p.date_posted.strftime("%Y-%m-%d") }}</b></small>
          </div>
          <h2><a class="article-title" data-toggle="tooltip" data-placement="bottom" title="View Post" href="{{ url_for('post',post_id=p.id) }}">{{ p.title }}</a></h2>
          <p class="article-content">{{ p.content }}</p>
        </div>
    </article>
    {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %} 
      {% if page_num %} 
        {% if posts.page == page_num %} 
              <a class="btn btn-info mb-2" href="{{ url_for('user_posts',page=page_num,username=current_user.username) }}">&nbsp;{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-2" href="{{ url_for('user_posts',page=page_num,username=current_user.username) }}">&nbsp;{{ page_num }}</a>
        {% endif %}
      {% else %}
        <b style="color: white;">....</b>
      {% endif %}
    {% endfor %}
{% endblock contents %}
